<section class="content-header" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px">

<div id="title-bar">

    <div id="title-bar-btns">

        <table width="100%">
            <tr>
                <td align="left" width="45%">
                    <label style="color: white; margin: 5px 0px 0px 10px"> Configuracoes </label>
                </td>
                <td align="center" width="10%">
									
                </td>
                <td align="right" width="45%">

                    <button title="Marca&ccedil;&otilde;es" ng-click="goTo('home')"> <i class="fa fa-calendar-o" aria-hidden="true"></i> </button>
                    <button id="" ng-click="logout()" title="Sair"> <i class="fa fa-sign-out" aria-hidden="true"></i> </button>
                    <button onclick="javascript:window.close()" ng-click="logout()" title="Fechar"> <i class="fa fa-times" aria-hidden="true"></i> </button>

                </td>
            </tr>
        </table>

    </div>

</div>

</section>

<section class="" style="margin: 0px 0px 0px 0px; padding: 5px">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="border-radius: 10px; text-align: center; padding: 1px">

            <div>

                <table class="table table-borderless" style="margin: 0px 0px 10px 0px">
                    <tr>
                        <td>
                            Tela em constru&ccedil;&atilde;o.
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

</section>