#title-bar {
	-webkit-app-region: drag;
	height: 32px;	
	padding: 0px;
    margin: 0px;  
	color: #ADADAD;
	font-family: sans-serif;
}

#title {
	top: 0px;
	left: 12px;	
	line-height: 32px;
	font-size: 14px;
}

.content-header {
	z-index: 2000;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 0px;
	right: 0px;	
	background-color: #3F3F41;
	width: 100%;
	text-align: right
}

#title-bar-btns button {
	height: 32px;
	width: 32px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}

#title-bar-btns button:hover {
	background-color: #3F3F41;
}

/* Tables */
.align-middle {
	vertical-align: middle;
}
.tight {
	width: 10px;
	white-space: nowrap;
}
.nowrap {
	white-space: nowrap;
}

.table-body {
	display: table;
	width: 100%;
}
.table-row {
	display: table-row
}
.table-cell {
	display: table-cell;
	vertical-align: top;
}
.table-cell-title {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

td.cell-center {
	text-align: center;
}

@media (max-width: 767px) {
	.table-cell .title, .table-cell-title .title {
		font-size: 1.1em;
		font-weight: bold;
	}
}
.table-cell-details {
	display: table-cell;
	font-size: 11px;
	font-style: italic;
	line-height: 13px;
}

td.visible-desktop, th.visible-desktop,
td.hidden-phone, th.hidden-phone,
td.hidden-tablet, th.hidden-tablet {
	display: table-cell;
}

span.visible-desktop, span.visible-desktop,
span.hidden-phone, span.hidden-phone,
span.hidden-tablet, span.hidden-tablet {
	display: inline-block;
}

span.visible-phone, span.visible-phone,
span.visible-tablet, span.visible-tablet,
span.hidden-desktop, span.hidden-desktop {
	display: none;
}

@media (min-width: 980px) {
	.hidden-desktop {
		display: none !important;
	}
}

@media (max-width: 979px) {
	#sidebar-container {
		display: table-row;
	}
	#page-container {
		display: table-row;
	}
	.sidebar-nav .nav-list {
		padding: 0;
	}
	.sidebar-nav li.nav-header {
		display: none;
	}
	.sidebar-nav li {
		float: left;
		margin-right: 15px;
	}
	.navbar .brand {
		margin-left: -10px;
	}
	.visible-desktop {
		display: none !important;
	}
	.tab-content.well {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 767px) {
	td.visible-phone, th.visible-phone,
	td.hidden-desktop, th.hidden-desktop {
		display: table-cell;
	}
	span.visible-phone, span.visible-phone,
	span.hidden-desktop, span.hidden-desktop {
		display: inline-block;
	}
	td.hidden-phone, th.hidden-phone,
	td.visible-desktop, th.visible-desktop {
		display: none;
	}
	span.hidden-phone, span.hidden-phone,
	span.visible-desktop, span.visible-desktop {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	td.visible-tablet, th.visible-tablet,
	td.hidden-desktop, th.hidden-desktop {
		display: table-cell;
	}
	span.visible-tablet, span.visible-tablet,
	span.hidden-desktop, span.hidden-desktop {
		display: inline-block;
	}
	td.hidden-tablet, th.hidden-tablet,
	td.visible-desktop, th.visible-desktop {
		display: none;
	}
	span.hidden-tablet, span.hidden-tablet,
	span.visible-desktop, span.visible-desktop {
		display: none;
	}
}

@media (max-width: 479px) {
	#main-container, .container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}
	.form-horizontal .controls {
		margin-left: 0px;
	}
	.form-horizontal .form-actions {
		padding-left: 10px;
		text-align: center;
	}

	.entity-container {
		text-align: center;
	}
	.entity {
		margin: 0 10px 20px 10px;
	}
	.hidden-small {
		display: none !important;
	}
	.action-small {
		text-align: center !important;
		background-color: white;
	}
	.visible-small {
		display: block;
	}
	td.visible-small {
		display: table-cell;
	}
}

.label-status-on {
    background-color: #468847;
}
.label-status-off {
   background-color: #B94A48;
}
.label-status-warning {
	background: #FAA732;
}
.label a{
    color:#FFF;
    text-decoration:none;
}
