<section class="content-header" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px">

<div id="title-bar">

    <div id="title-bar-btns">

        <table width="100%">
            <tr>
                <td align="left" width="20%">
                    <label style="margin: 5px 0px 0px 10px">WorkLog</label>
                </td>
                <td align="center" width="60%" ng-show="mErroLogin">
                    <label style="margin: 5px 0px 0px 10px; color: white"> Verifique os dados informados </label>
                </td>
                <td align="right" width="20%">
                </td>
            </tr>
        </table>

    </div>

</div>

</section>

<div class="" style="margin: 20px 0px 0px 0px">

	<table width="100%" align="center">
		<tr>
		  <td width="100%" align="center">
			
			<div class="login-box-body" style="width: 60%">

			  <form name="formLogin" ng-keyup="$event.keyCode == 13 ? login(control) : null">

				<div class="form-group has-feedback">
				  <input type="text" id="login" class="form-control" name="control.login" ng-model="control.login" placeholder="Login">
				  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
				  <input type="password" id="pass" class="form-control" name="control.password" ng-model="control.password"  placeholder="Password">
				  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
				  <div class="col-xs-4">
						<button type="button" id="driver" class="btn btn-primary btn-block btn-flat" ng-click="login(control)">Entrar</button>
				  </div>
				  <div class="col-xs-8">
						<button type="button" data-toggle="modal" data-target="#modalEditarMarcacao" class="btn btn-primary btn-block btn-flat">Criar Conta</button>
				  </div>
				</div>

			  </form> 

			</div>  

		  </td>
		</tr>
	</table>

</div>

<!-- Modal Editar marcacao -->
<div class="modal fade" id="modalEditarMarcacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 20px">
<div class="modal-dialog modal-bg" role="document">
  <div class="modal-content">

    <div class="modal-body">

		<form name="formAdd">

			<table class="table" style="margin: 0px 0px 0px 0px">
				<tr>
					<td colspan="3">
						Nome
						<input type="text" ng-model="controleEM.nome" class="form-control" required>
						<label ng-show="mNome" style="color: red"> Campo obrigatorio </label>
					</td>
				</tr>
				<tr>
					<td>
						Login 
						<input type="text" ng-model="controleEM.login" class="form-control" required>
						<label ng-show="mLogin" style="color: red"> Campo obrigatorio </label>
					</td>
					<td>
						Senha 
						<input type="password" ng-model="controleEM.senha" class="form-control" required>
						<label ng-show="mSenha" style="color: red"> Campo obrigatorio </label>
						<label ng-show="mSenha2" style="color: red"> As senhas nao coincidem </label>
					</td>
					<td>
						Digite a senha novamente 
						<input type="password" ng-model="controleEM.senhaN" class="form-control" required>
						<label ng-show="mSenhaN" style="color: red"> Campo obrigatorio </label>
						<label ng-show="mSenha2" style="color: red"> As senhas nao coincidem </label>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						Email 
						<input type="text" ng-model="controleEM.email" class="form-control" required>
						<label ng-show="mEmail" style="color: red"> Campo obrigatorio </label>
					</td>
					<td>
						<br>
						<button type="button" ng-click="salvar(controleEM, formAdd.$valid)" class="btn btn-primary">Criar conta</button>
					</td>
				</tr>

				<tr ng-show="mContaCriada || mErroCriarConta">
					<td colspan="3" ng-show="mContaCriada">
						<div class="alert alert-success" style="margin: 0px 0px 0px 0px; text-align: center">
							Conta criado com sucesso.
						</div>
					</td>
					<td colspan="3" ng-show="mErroCriarConta">
						<div class="alert alert-danger" style="margin: 0px 0px 0px 0px; text-align: center">
							J&aacute; existe um cadastro usando estes login ou senha.
						</div>
					</td>
				</tr>
			</table>

		</form>

    </div>
  </div>
</div>
</div>

<!-- tela de loading -->
<section class="content" ng-show="loading">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 loading">
            <table border="0" align="center" width="100%" height="100%">
				<tr>
					<td align="center">
						<img src="includes/img/loading.gif">
					</td>
				</tr>
				<tr>
					<td align="center">
						<b>Aguarde...</b>
					</td>
				</tr>
            </table>
        </div>
    </div>
</section>