<section class="content-header" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px">

<div id="title-bar">

    <div id="title-bar-btns">

        <table width="100%">
            <tr>
                <td align="left" width="20%">
                    <label style="margin: 5px 0px 0px 10px">WorkLog</label>
                </td>
                <td align="center" width="60%" ng-show="mErroLogin">
                    <label style="margin: 5px 0px 0px 10px; color: white"> Verifique os dados informados </label>
                </td>
                <td align="right" width="20%">
                </td>
            </tr>
        </table>

    </div>

</div>

</section>

<div class="" style="margin: 20px 0px 0px 0px">

	<table width="100%" align="center">
		<tr>
		  <td width="100%" align="center">
			
			<div class="login-box-body" style="width: 30%">

			  <form name="formLogin" ng-keyup="$event.keyCode == 13 ? login(control) : null" novalidate>

					<div class="form-group has-feedback">
						<input type="text" id="login" class="form-control" name="control.login" focus="true" ng-model="control.login" placeholder="Login" required>
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>

					<div class="form-group has-feedback">
						<input type="password" id="pass" class="form-control" name="control.password" ng-model="control.password" placeholder="Password" required>
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<button type="button" ng-disabled="formLogin.$invalid" id="driver" class="btn btn-primary btn-block btn-flat" ng-click="login(control)">Entrar</button>
						</div>
					</div>

			  </form> 

			</div>  

		  </td>
		</tr>
	</table>

</div>

<!-- tela de loading -->
<section class="content" ng-show="loading">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 loading">
            <table border="0" align="center" width="100%" height="100%">
				<tr>
					<td align="center">
						<img src="includes/img/loading.gif">
					</td>
				</tr>
				<tr>
					<td align="center">
						<b>Aguarde...</b>
					</td>
				</tr>
            </table>
        </div>
    </div>
</section>