<section class="content-header" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px">

<div id="title-bar">

    <div id="title-bar-btns">

        <div class="row dragEnable">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-4" style="border-radius: 10px; text-align: left; padding: 1px">
					<label style="margin: 5px 0px 0px 10px" title="{{versao}}">WorkLog</label>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4" style="border-radius: 10px; text-align: center; padding: 1px">
					<label ng-show="mErroLogin" style="margin: 5px 0px 0px 10px; color: white"> Verifique os dados informados </label>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4" style="border-radius: 10px; text-align: right; padding: 1px">
					<img ng-show="loading" src="includes/img/loading.gif" height="25px">
					<button id="min-btn"><i class="icon ion-minus-round"></i></button>
					<button id="close-btn"><i class="icon ion-close-round" aria-hidden="true"></i></button>
	            </div>

            </div>
        </div>

	</div>

</div>

</section>

<div class="" style="margin: 20px 0px 0px 0px">

	<table width="100%" align="center">
		<tr>
		  <td width="100%" align="center">
			
			<div class="login-box-body" style="width: 30%">

			  <form name="formLogin" ng-keyup="$event.keyCode == 13 ? login(control) : null" novalidate>

					<div class="form-group has-feedback">
						<input ng-disabled="loading" type="text" id="login" class="form-control" name="control.login" focus="true" ng-model="control.login" placeholder="Login" required>
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>

					<div class="form-group has-feedback">
						<input ng-disabled="loading" type="password" id="pass" class="form-control" name="control.password" ng-model="control.password" placeholder="Password" required>
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<button ng-disabled="loading" type="button" ng-disabled="formLogin.$invalid" id="driver" class="btn btn-primary btn-block btn-flat" ng-click="login(control)">Entrar</button>
						</div>
					</div>

			  </form> 

			</div>  

		  </td>
		</tr>
	</table>

</div>